<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../app/src/css/flexboxgrid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../../compiled/T-19-create-header-and-contactList/left-contactList-sidebar/left-contactList-sidebar.css" rel="stylesheet">
</head>
<body>
    <div class="row left-contactList-sidebar">
        <div class="contact-list col-xs-3">
            <div class="contact-list-search">
                <form class ='contactList-search'>
                    <input type="text" placeholder="Искать ...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="contactList-user">
                <div class="user-contactList-photo"><img src="img/default-profile-image.png"></div>
                <div class="user-contactList-name">Name LastName</div>
            </div>
            <div class="contactList-user">
                <div class="user-contactList-photo"><img src="img/default-profile-image.png"></div>
                <div class="user-contactList-name">Name LastName</div>
            </div>
        </div>
    </div>
</body>
</html>