<div>
  <ul ng-repeat="item in staticMenu" class="ul-right-side-menu">
    <li class="btn-right-side-menu btn-right-side-menu-click" ng-click="newEvent(item.link)">
      {{item.title}}
    </li>
  </ul>
  <div class="btn-right-side-menu">
    {{model.currentEvents.title}}
    <i class="fa fa-plus icon-size-xs icon-color-menu btn-right-side-menu-click" id="curr" aria-hidden="true" ng-click="showCurrEvList()" ng-model="currEvList" ng-init="currEvList"></i>
    <div  ng-if="currEvList">
      <ul ng-repeat="item in model.currentEvents.data | filter:{name:$root.queryEvent}">
        <li class="event-menu__list btn-right-side-menu-click" ng-click="onClickEvent(item.id)" ng-repeat="x in item.date">{{ item.name }}
          <br>
          <span class="txt-description">{{x.confirmed}}</span></li>
      </ul>
    </div>
  </div>
  <div class="btn-right-side-menu">
    {{model.draftEvents.title}}
    <i class="fa fa-plus icon-size-xs icon-color-menu btn-right-side-menu-click" id="draft" aria-hidden="true" ng-click="showDraftList()" ng-model="draftEvList" ng-init="draftEvList"></i>
    <div ng-if="draftEvList">
      <ul ng-repeat="item in model.draftEvents.data | filter:{name:$root.queryEvent}">
        <li class="event-menu__list btn-right-side-menu-click" ng-click="onClickEvent(item.id)">{{ item.name }}</li>
      </ul>
    </div>
  </div>
</div>
