<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>menu-layout</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../../app/src/css/flexboxgrid.css" type="text/css" >
  <link rel="stylesheet" href="../compiled/T-02-menu-layout/menu-layout.css" type="text/css">
</head>
<body>
  <div class="row end-xs">
    <div class="col-xs-2">
      <div class="event-menu">
        <ul class="event-menu__list">
          <li class="event-menu__item">Create event</li>
          <li class="event-menu__item">My calendar</li>
          <li class="event-menu__item">Current events</li>
          <li class="event-menu__item">Serch events</li>
        </ul>
        <div class="event-menu__status">
            <span class="event-menu__text">Drafts</span>
            <div class="event-menu__title">untitled
                <div class="event-menu__close"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
