@import "../../../../sass/variables"
@import "../../../../sass/type-default"
@import "../../../../sass/functions"

body
  height: 100%

.div-row-main-page
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin: 0
  padding: 0

.div-row-main-page-center
  display: flex
  flex-direction: row
  align-items: center
  margin: 0
  padding: 0
  height: calc(100% - (#{$header-height}))


.contact-list
  height: 100%
  overflow: auto

.render-main-page
    height: 100vh

.content-and-sidebars
    padding: 0

.left-sidebar
  height: calc(100% - (#{$footer-height}))
  overflow: auto
  padding-left: 16px
  padding-right: 16px
  padding-top: 16px

.right-sidebar
    height: calc(100% -  (#{$header-height}))
    overflow: auto
    position: absolute
    width: 25%
    min-width: 250px
    z-index: 3

.content
  height: 100%
  position: relative
  transition: 0.5s

.div-row-footer
  display: flex
  flex-direction: row
  position: fixed
  bottom: 0
  min-height: $footer-height
  align-items: center
  padding-left: 10px
  padding-right: 5px
  width: 48%

.div-row-enter-mess
  display: flex
  flex-direction: row
  position: fixed
  bottom: 0
  min-height: $footer-height
  justify-content: flex-start
  align-items: center
  margin: 0
  padding-left: 10px
  padding-right: 10px

.no-vis 
  top: $header-height
  right: -100%
  transition: 1s
    
.is-vis
  top: $header-height
  right: 0
  transition: 0.5s

@media screen and (max-width: 62em)

  .no-vis-sm-screen 
    top: $header-height
    right: -100%
    transition: 1s
      
  .is-vis-sm-screen
    top: $header-height
    right: 0
    transition: 0.5s   