@import "../../../../sass/variables"
@import "../../../../sass/type-default"
@import "../../../../sass/functions"

body
  height: 100%

.div-row-main-page
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin: 0
  padding-left: 0px
  padding-right: 0px
  padding-bottom: 0px
  padding-top: 0px

.div-row-main-page-center
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 0
  padding-left: 0px
  padding-right: 0px
  padding-bottom: 0px
  padding-top: 0px
  height: calc(100% - (#{$header-height} + #{$footer-height}))


.contact-list
    padding: 0
    height: 100%
    overflow: auto

.render-main-page
    height: 100vh

.content-and-sidebars
    padding: 0

.left-sidebar
    height: 100%
    overflow: auto

.right-sidebar
    height: 100%
    overflow: auto

.content
  height: 100%
  position: relative;

.footer-position
  position: fixed
  bottom: 0
