<div class="col-xs-3
              col-sm-3
              col-md-3
              col-lg-3
          div-row-main-page">
  <div class="col-xs-4
                col-sm-4
                col-md-4
                col-lg-4">
    <img ng-src="{{ main.avatar }}" class="user-profile-photo" ng-click="openProfile()">
  </div>
  <div class="col-xs-8
                col-sm-8
                col-md-8
                col-lg-8
                txt-header-gray">{{ main.userName }}</div>
</div>
<div class="col-xs-6
            col-sm-6
            col-md-6
            col-lg-6">
  <div class="header-area-blocks">
    <div class="header-chat-name"></div>
  </div>
</div>
<div class="col-xs-3
            end-xs
            header-area-blocks">
  <button class="btn-round-warning" ng-click="main.showHideEventHandler()">
    <i class="fa fa-indent icon-size icon-color" aria-hidden="true" id="bureger"></i>
  </button>
</div>
