@import "../../../../../sass/variables"
@import "../../../../../sass/type-default"
@import "../../../../../sass/functions"

.div-row-main-page
    height: $header-height

.user-profile-photo
    margin: 5px
    max-height: 50px
    width: auto
    background-size: contain
    @include set-border(0px, 50%)

.header-date-time
  @include type-setting(-1)
  color: map-get($bg-color, 'lighter')
  font:
    weight: map-get($font-message, 'name-weight')
    style: map-get($font-message, 'name-style')
