<div class="col-xs-6
              col-sm-6
              col-md-3
              col-lg-3
          div-row-main-page">
    <div class="col-xs-4
                col-sm-4
                col-md-4
                col-lg-4">
      <img ng-src="{{ main.avatar }}" class="user-profile-photo">
    </div>
    <div class="col-xs-8
                col-sm-8
                col-md-8
                col-lg-8
                txt-header-green">{{ main.userName }}</div>
</div>
<div class="col-xs-6
            col-sm-6
            col-md-6
            col-lg-6">
  <div class="header-area-blocks">
    <div class="header-date-time">Today is: {{main.header.date | date:'dd-MM-yyyy'}}</div>
  </div>
</div>
<div class="col-xs-3
            end-xs
            header-area-blocks">
  <button class="btn-round-warning">
    <i class="fa fa-th-list icon-size icon-color" aria-hidden="true"></i>
  </button>
</div>
