.div-row-loginpage
  margin-right: 0px
  margin-left: 0px

  
.div-logotype
  display: block
  
.login-form
  display: block
  font-family: Arial
  font-size: 16px
  padding: 10px

.input-login
  border: 1px solid #9bb00f
  height: 20px
  border-radius: 20px
  margin: 5px