<div class="row">
  <div class="div-logotype">
    <img src="../../../../../img/main/logo_login_page.png" alt="EVENT messenger">
  </div>
  <br>
  <div>
    <form class="login-form">
      <div>
        <span>Enter login or e-mail: </span><input type="text" class="input-primary" required>
      </div>
      <br>
      <div>
        <span>Enter password: </span><input type="password" class="input-primary" required>
      </div>
      <br>
      <div>
        <input type="submit" class="btn-submit" value="enter"> <button class="btn-cancel">clear</button>
      </div>
    </form>
  </div>
  <div class="spacer-loginpage"></div>
  <div>
    <a href="#" class="text-a-forgotPass"><span>Forgot password?</span></a>
  </div>
</div>
