<div class="div-row-loginpage
            col-xs-12
            col-sm-12
            col-md-9
            col-lg-10">
  <div class="div-logotype">
    <img ng-src="{{ loginPage.logotype }}" alt="EVENT messenger">
  </div>
  <div class="col-xs">
    <form class="login-form
                 col-xs-offset-2
                 col-sm-offset-2
                 col-md-offset-2
                 col-lg-offset-2"
                 >
      <div class="col-xs-9">
        <span>Login or e-mail: </span><input type="text"
        class="input-primary"
        id="login" ng-model="params.username" required>
      </div>
      <div class="col-xs-9">
        <span>Password: </span><input type="password"
        class="input-primary"
        id="password" ng-model="params.password">
      </div>
      <div class="col-xs-9">
        {{errorMessage}}
      </div>
      <div class="col-xs-9">
        <input type="submit" ng-click="setAuth(params)" class="btn-submit div-margin-top-login-page"  value="enter">
      </div>
    </form>
  </div>
</div>
<div class="div-row-loginpage
            col-xs-12
            col-sm-7
            col-md-3
            col-lg-2
            div-margin-top-login-page">
  <div >
    <a ng-click="goToRegistration()" class="text-a-forgotPass"><span>Registration new member</span></a>
  </div>
  <div class="spacer-loginpage"></div>
  <div>
    <a href="#" class="text-a-forgotPass"><span>Forgot password?</span></a>
  </div>
  <div ui-view="fastReg"></div>
</div>
