.div-row-loginpage
  display: flex
  flex-direction: column
  align-items: center
  margin-right: 0px
  margin-left: 0px


.div-logotype
  display: block
  margin-top: 15%

.spacer-loginpage
  height: 1px
  background-color: #9bb00f
  border: 0px
  width: 200px
  margin: 20px

.login-form
  font-size: 15px
  padding: 10px

.text-a-forgotPass
  font-family: Arial, sans-serif
  font-size: 15px
  color: black
  text-decoration: none
  &:hover
    color: #9bb00f
    text-decoration: underline
  &:visited
    color: #7a7a7a
    text-decoration: none

.text-loginpage
  font-family: Arial, sans-serif
  font-size: 15px
  color: black
  margin-right: 10px

.block-social-buttons
  display: flex
  align-items: center
  align-content: space-around
  padding: 5px

.img-social-button
  padding-left: 5px
  padding-right: 5px

.div-flex-basis-cancel
  flex-basis: auto

.div-margin-top-login-page
  margin-top: 150px
