<div class="row">
  <div class="col-xs-offset-1"><span class="txt-primary col-xs-offset-1">Примеры кнопок: </span>
    <br>
    <button class="btn-cancel col-xs-offset-1">cancel</button>
    <button class="btn-submit col-xs-offset-1">submit</button>
    <button class="btn-warning col-xs-offset-1">warning</button>
    <button class="btn-info col-xs-offset-1">info</button>
    <button class="btn-round-ok col-xs-offset-1"><i class="fa fa-check" aria-hidden="true"></i></button>
    <button class="btn-round-cancel col-xs-offset-1"><i class="fa fa-times" aria-hidden="true"></i></button>
    <button class="btn-round-maybe col-xs-offset-1"><i class="fa fa-question" aria-hidden="true"></i></button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-offset-1
            col-xs-4
            col-sm-4
            col-md-4
            col-lg-4
            bg-primary">
    <span class="txt-primary col-xs-offset-1">Классы текста: </span>
    <br>
    <br>
    <label class="txt-header">$font-header: Header</label>
    <br>
    <label class="txt-primary">$font-primary: Main font</label>
    <br>
    <label class="txt-description">$font-description: Some description</label>
    <br>
    <label class="txt-buttons">$font-btn: button</label>
    <br>
    <span>$font-link: <a class="txt-link">Link me</a></span>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-3
              col-sm-3
              col-md-3
              col-lg-3
              bg-primary">
    <label class="txt-buttons">$bg-color: 'gray'</label>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-25"><span class="txt-description">set-transparent 25%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-50"><span class="txt-description">set-transparent 50%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-75"><span class="txt-description">set-transparent 75%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-100"><span class="txt-description-invert">color 100%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-lighter"><span class="txt-description">color-light 30%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-light"><span class="txt-description">color-light 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-dark"><span class="txt-description-invert">color-dark 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-gray-darker"><span class="txt-description-invert">color-dark 30%</span>
    </div>
  </div>
  <div class="col-xs-3
              col-sm-3
              col-md-3
              col-lg-3
              bg-primary">
    <label class="txt-buttons">$bg-color: 'dark'</label>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-25"><span class="txt-description">set-transparent 25%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-50"><span class="txt-description">set-transparent 50%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-75"><span class="txt-description">set-transparent 75%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-100"><span class="txt-description-invert">color 100%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-lighter"><span class="txt-description">color-light 30%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-light"><span class="txt-description">color-light 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-dark"><span class="txt-description-invert">color-dark 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-dark-darker"><span class="txt-description-invert">color-dark 30%</span>
    </div>
  </div>
  <div class="col-xs-3
              col-sm-3
              col-md-3
              col-lg-3
              bg-primary">
    <label class="txt-buttons">$bg-color: 'green'</label>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-25"><span class="txt-description">set-transparent 25%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-50"><span class="txt-description">set-transparent 50%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-75"><span class="txt-description">set-transparent 75%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-100"><span class="txt-description-invert">color 100%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-lighter"><span class="txt-description">color-light 30%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-light"><span class="txt-description">color-light 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-dark"><span class="txt-description-invert">color-dark 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-green-darker"><span class="txt-description-invert">color-dark 30%</span>
    </div>
  </div>
  <div class="col-xs-3
              col-sm-3
              col-md-3
              col-lg-3
              bg-primary">
    <label class="txt-buttons">$bg-color: 'orange'</label>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-25"><span class="txt-description">set-transparent 25%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-50"><span class="txt-description">set-transparent 50%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-75"><span class="txt-description">set-transparent 75%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-100"><span class="txt-description-invert">color 100%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-lighter"><span class="txt-description">color-light 30%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-light"><span class="txt-description">color-light 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-dark"><span class="txt-description-invert">color-dark 10%</span>
    </div>
    <div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10
              bg-orange-darker"><span class="txt-description-invert">color-dark 30%</span>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="bg-gray-darker
              col-xs-6
              col-sm-6
              col-md-6
              col-lg-6">
    <div class="div-message-box">
      <span class="message-name">User 001:</span>
      <p class="message-text">This is my first message. If ypu want to tell me something - please, fill free! I'm waiting for your commentaries</p>
    </div>
    <div class="div-message-box">
      <span class="message-name">User 002:</span>
      <p class="message-text">This is my first message. If ypu want to tell me something - please, fill free! I'm waiting for your commentaries</p>
    </div>
    <div class="div-message-box-descr bg-gray-dark col-xs-4">
      <span class="txt-description">User 001 is typing...</span>
    </div>
    <div class="div-message-box-descr bg-gray-light col-xs-4">
      <span class="txt-description">User 001 is typing...</span>
    </div>
    <div class="test-block">HHHHHH</div>
  </div>
</div>
<br>
<br>
<div>
  <button class="btn-submit col-xs-offset-5" ng-click="goToLoinPage()">back</button>
</div>
