<div class="row">
  <div><span class="text-loginpage">Примеры кнопок: </span>
    <button class="btn-cancel col-xs-offset-1">cancel</button>
    <button class="btn-submit col-xs-offset-2">submit</button>
    <button class="btn-warning col-xs-offset-3">warning</button>
    <button class="btn-info col-xs-offset-2">info</button>
    <button class="btn-round-info col-xs-offset-1">just btn</button>
    <button class="btn-round-submit col-xs-offset-7">ololo!</button>
    <button class="btn-round-warning col-xs-offset-5" ng-click="goToLoinPage()">back</button>
  </div>
</div>
