@import "../../../../../sass/variables"
@import "../../../../../sass/type-default"
@import "../../../../../sass/functions"
.left-side, .right-side
    height: 100vh

.content-part
    padding: 0
    height: 100vh

.footer-write-message
    height: 100%
    width: 70%

.message-input
    width: 85%

.message-example
    position: relative
    width: 150px
    padding: 15px 25px 10px 10px
    margin: 0 20px 20px 20px
    @include set-border(10px, 10px)
    font-size: 15px

.message-example:before
    content: ""
    right: 100%
    bottom: 14px
    position: absolute
    border-top: 9px solid transparent
    border-bottom: 9px solid transparent

.message-example .delete
    position: absolute
    right: 10px
    top: 5px
    cursor: pointer

.message-example .message-name
    font-weight: bold


#down
  z-index: 3
  position: fixed
  top: 60%
  
  cursor: pointer
  height: 46px
  width: 46px
  padding: 5px
  align-items: center
  transition: 0.5s
  opacity: 0.8
  @include set-border(0px, 25px)
  font-size: 36px
  background-color: map-get($bg-color, 'gray')
  color: map-get($font-color, 'dark-gray')
  &:hover, &:active
    cursor: pointer
    @include color-dark($bg-color, 'gray', 30%)
    color: map-get($font-invert, 'color')

.arrow-right
    right: 5%

.arrow-center
    right: 30%    

.non-vis
  display: none

.chat-wraper
  height: calc(100% - (#{$footer-height}))
  overflow: auto
  padding-left: 16px
  padding-right: 16px

.chat-box
    padding: 20px 0 35px
    
.chat-cont
    height: 100%
    position: relative

.hidden
    display: none

.text-block[contenteditable=true]:focus 
    color: black

[contenteditable=true]:empty:not(:focus):before
    content: attr(data-text)   

.text-block[data-text]
    color: #ccc;

@media screen and (max-width: 62em)
    #down
        right: 5%