<div class="row">
  <div class="message-example bg-orange-lighter">
    <div class="delete"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="message-name">You have new invitation!</div>
    <div class="message-text">Click on the chat to see details...</div>
  </div>
</div>
<div class="row">
  <div class="bg-gray-darker
              col-xs-12
              col-sm-12
              col-md-12
              col-lg-12">
    <div class="div-message-box">
      <span class="message-name">User 001:</span>
      <p class="message-text">This is my first message. If ypu want to tell me something - please, fill free! I'm waiting for your commentaries</p>
    </div>
    <div class="div-message-box">
      <span class="message-name">User 002:</span>
      <p class="message-text">This is my first message. If ypu want to tell me something - please, fill free! I'm waiting for your commentaries</p>
    </div>
    <div class="div-message-box-descr bg-gray-dark col-xs-4">
      <span class="txt-description">User 001 is typing...</span>
    </div>
    <div class="div-message-box-descr bg-gray-light col-xs-4">
      <span class="txt-description">User 001 is typing...</span>
    </div>
  </div>
</div>
