<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../app/src/css/flexboxgrid.css" rel="stylesheet">
    <link href="../compiled/T-29-create-main-page(UI)/main-page-ui.css" rel="stylesheet">
</head>
<body>
    <header class="row col-xs-12">header</header>
    <section class="row content-and-sidebars">
        <div class='left-sidebar col-xs-2'>left-sidebar</div>
        <div class="content col-xs-8">content</div>
        <div class="right-sidebar col-xs-2">right-sidebar</div>
    </section>
    <footer class="row xs-12">
        <div class="settings col-xs-2">settings</div>footer
    </footer>
</body>
</html>