<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../app/src/css/flexboxgrid.css">
    <link href="../../compiled/T-19-create-header-and-contactList/header/header.css" rel="stylesheet">
</head>
<body>
    <div class="row middle-xs header-main-chat-window">
        <div class="user-profile-photo"></div>
        <div class="user-profile-name">Username</div>
    </div>
</body>
</html>