<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../compiled/T-15-create-popup-voting/create-popup-voting.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="pop-up-wrapper">
        <div class="pop-up">
            <p>Choose the variant for vouting</p>
            <div class="forms-pop-up">
                <div class="for-date">
                    <div>For date:</div>
                    <ol>
                        <li>
                            <select>
                                <option>14.01.2018</option> 
                            </select>
                            <i class="fa close-icon fa-times-circle-o" aria-hidden="true"></i>
                        </li>
                    </ol>
                    <div><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                </div>
                <div class="for-time">
                    <div>For time:</div>
                    <ol>
                        <li>
                            <select>
                                <option>13.00</option>
                            </select>
                            <i class="fa close-icon fa-times-circle-o" aria-hidden="true"></i>
                        </li>
                    </ol>
                    <div><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="buttons-pop-up">
                <a class="button-pop-up-cancel">Cancel</a>
                <a class="button-pop-up-save">Save</a>
            </div>
        </div>
    </div>
</body>
</html>