<div class="div-row-footer
            col-xs-3
            col-sm-3
            col-md-3
            col-lg-3">
  <button class="btn-round-warning"><i class="fa fa-cog icon-size icon-color" aria-hidden="true"></i></button>
  <div class="txt-header-green">Settings</div>
</div>
<div class="col-xs-6
            col-sm-6
            col-md-6
            col-lg-6
            txt-header">
  <form class="footer-write-message">
    <div class="row middle-xs">
      <div class="col-xs-10
                col-sm-10
                col-md-10
                col-lg-10
                div-inline-block">
        <input class="text-block"
               type="text"
               placeholder="Write a message..."
               ng-model="main.message">
      </div>
      <div class="col-xs-2
                col-sm-2
                col-md-2
                col-lg-2
                end-xs
                div-inline-block">
        <button class="btn-round-ok icon-size icon-color"
                type="send"
                ng-click="sendMesHandler(main.contactsList.name, main.currID, main.message)">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="col-xs-3
            col-sm-3
            col-md-3
            col-lg-3">
  <button class="btn-round-warning">
    <i class="fa fa-paperclip icon-size icon-color" aria-hidden="true"></i></button>
  <button class="btn-round-warning">
    <i class="fa fa-smile-o icon-size icon-color" aria-hidden="true"></i></button>
  </div>
</div>
