<div class="row left-contactList-sidebar">
    <div class="contact-list col-xs-3">
        <div class="contact-list-search">
            <form class ='contactList-search'>
                <input type="text" placeholder="Искать ...">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="contactList-user">
            <div class="user-contactList-photo"><img src="app/src/default-profile-image/default-profile-image.png"></div>
            <div class="user-contactList-name">Name LastName</div>
        </div>
        <div class="contactList-user">
            <div class="user-contactList-photo"><img src="app/src/default-profile-image/default-profile-image.png"></div>
            <div class="user-contactList-name">Name LastName</div>
        </div>
    </div>
</div>