<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12
            bg-gray-dark
            left-sidebar">
  <div>
    <form class ='search'>
      <input class="input-search" type="text" placeholder="Искать в контактах...">
      <button type="submit" class="btn-round-ok-xs" value=""><div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div></button>
    </form>
  </div>
  <div class="contactList-user" ng-repeat="item in main.contactsList.contacts">
    <div class="user-contactList-photo"><img src="app/src/img/default-profile-image.png"></div>
    <div class="user-contactList-name">{{item.name}}</div>
  </div>
</div>
