@mixin set-border($border-size, $border-radius){
  border: $border-size;
  border-radius: $border-radius;
};

@mixin set-transparent($map, $name, $value){
  background-color: transparentize(map-get($map, $name), $value)
};

@mixin color-light($map, $name, $value){
  background-color: lighten(map-get($map, $name), $value);
};

@mixin color-dark($map, $name, $value){
  background-color: darken(map-get($map, $name), $value);
}

@mixin font-color-light($map, $name, $value){
  font-color: lighten(map-get($map, $name), $value);
};

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@function line-height($level) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}
