$font-primary: Arial;

$font-btn: (
  'size': 0.875rem,
  'weight': 800
);

$font-link: (
  'color': black,
  'decoration': none,
  'h-color': #373600,
  'h-decoration': underline,
  'h-line-color': #eda200,
  'v-color': #656850,
  'v-decoration': none
);

$font-description: (
  'color': #656850,
  'style': italic,
  'weight': 200,
  'size': 0.75rem
);

$font-invert: (
  'color': white
);

$font-header: (
  'size': 1.25rem,
  'weight': 500,
  'color': black
);
$font-header-green: (
  'size': 1.25rem,
  'weight': 600,
  'color': rgba(155, 176, 15, 1)
);
$font-header-dark: (
  'size': 1.25rem,
  'weight': 600,
  'color': rgba(155, 176, 15, 1)
);

$font-message: (
  'name-size': 0.75rem,
  'name-weight': 600,
  'name-style': italic,
  'text-size': 0.8125rem,
  'text-weight': 200,
  'text-color': #222222
);

$type-scale: (
  -1: 0.75rem,  // font-description,  font-message,  .input-search, font-btn
  0: 1rem,      // font-header
  1: 1.25rem,  // font-header-green ??? font-header-dark
);

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height,
);

