$bg-color: (
  'primary': white,
  'gray': rgba(214, 222, 217, 1),
  'dark': rgba(94, 116, 25, 1),
  'lighter': rgba(183, 217, 77, 1),
  'darker': rgba(60, 74, 16, 1),
  'green': rgba(155, 176, 15, 1),
  'orange': rgba(251, 195, 37, 1)
);

$font-color: (
  'primary': black,
  'gray': rgba(214, 222, 217, 1),
  'dark-gray': rgba(82, 118, 95, 1),
  'dark': rgba(94, 116, 25, 1),
  'green': rgba(155, 176, 15, 1),
  'orange': rgba(251, 195, 37, 1)
);

$footer-height: 65px;
$header-height: 70px;
