@import "variables"
@import "type-default"
@import "functions"
.button-default
  font:
    @include type-setting(-1)
    weight: map-get($font-btn, 'weight')
  height: 36px
  padding-left: 10px
  padding-right: 10px
  align-items: center
  transition: 0.2s
  @include set-border(0px, 18px)
  &:hover, &:active
    cursor: pointer

.button-round
  height: 38px;
  width: 38px
  padding: 5px
  align-items: center
  transition: 0.2s
  margin: 8px
  @include set-border(0px, 20px)

.button-round-xs
  height: 24px;
  width: 24px
  padding: 4px
  align-items: center
  transition: 0.2s
  @include set-border(0px, 50%)

.btn-submit
  @extend .button-default
  @include color-light($bg-color, 'green', 5%)
  color: map-get($font-color, 'primary')
  width: 80px
  &:hover
    @include color-light($bg-color, 'green', 30%)
  &:active
    @include color-light($bg-color, 'green', 30%)

.btn-cancel
  @extend .button-default
  background-color:  map-get($bg-color, 'dark')
  color: map-get($font-color, 'gray')
  width: 80px
  &:hover
    @include color-dark($bg-color, 'dark', 20%)
  &:active
    @include color-dark($bg-color, 'dark', 20%)

.btn-info
  @extend .button-default
  background-color: map-get($bg-color, 'gray')
  color: map-get($font-color, 'primary')
  width: 80px
  &:hover
    @include color-dark($bg-color, 'gray', 20%)
  &:active
    @include color-dark($bg-color, 'gray', 30%)

.btn-warning
  @extend .button-default
  background-color: map-get($bg-color, 'orange')
  color: map-get($font-color, 'primary')
  width: 80px
  &:hover
    @include color-light($bg-color, 'orange', 10%)
    &:active
      @include color-light($bg-color, 'orange', 30%)

.btn-round-ok
  @extend .button-round
  @include color-light($bg-color, 'green', 5%)
  color: map-get($font-color, 'primary')
  &:hover
    @include color-light($bg-color, 'green', 30%)
  &:active
    @include color-light($bg-color, 'green', 30%)

.btn-round-cancel
  @extend .button-round
  background-color:  map-get($bg-color, 'dark')
  color: map-get($font-color, 'gray')
  &:hover
    @include color-dark($bg-color, 'dark', 20%)
  &:active
    @include color-dark($bg-color, 'dark', 20%)

.btn-round-maybe
  @extend .button-round
  color: map-get($font-color, 'primary')
  &:hover
    @include color-dark($bg-color, 'gray', 20%)
    &:active
      @include color-dark($bg-color, 'gray', 30%)

.btn-round-warning
  @extend .button-round
  background-color: map-get($bg-color, 'orange')
  color: map-get($font-color, 'primary')
  &:hover
    @include color-light($bg-color, 'orange', 30%)
    &:active
      @include color-light($bg-color, 'orange', 30%)

.btn-round-ok-xs
  @extend .button-round-xs
  @include color-light($bg-color, 'green', 5%)
  color: map-get($font-color, 'primary')
  &:hover
    @include color-light($bg-color, 'green', 30%)
  &:active
    @include color-light($bg-color, 'green', 30%)

.btn-round-cancel-xs
  @extend .button-round-xs
  background-color:  map-get($bg-color, 'dark')
  color: map-get($font-color, 'gray')
  &:hover
    @include color-dark($bg-color, 'dark', 20%)
  &:active
    @include color-dark($bg-color, 'dark', 20%)

.btn-round-maybe-xs
  @extend .button-round-xs
  color: map-get($font-color, 'primary')
  &:hover
    @include color-dark($bg-color, 'gray', 20%)
    &:active
      @include color-dark($bg-color, 'gray', 30%)


.btn-right-side-menu
  list-style: none
  font:
    size: map-get($font-btn, 'size')
    weight: map-get($font-btn, 'weight')
  align-items: center
  transition: 0.2s
  @include set-border(0px, 18px)
  @include color-dark($bg-color, 'gray', 10%)
  color: map-get($font-color, 'primary')
  width: 80%
  height: auto
  padding: 10px
  margin: 10px
  &:hover
    @include color-dark($bg-color, 'gray', 20%)
  &:active
    @include color-dark($bg-color, 'gray', 30%)

.btn-right-side-menu-click
  &:hover
    color: white
    cursor: pointer

