.input
  font:
    size: 15px
  border: 1px solid #cbcfa2
  min-height: 15px
  border-radius: 20px
  margin: 5px
  padding: 10px

.input-primary
  @extend .input
  &:focus
    border: 1px solid #9bb00f
