.button-submit
  font-family: "Arial Black"
  font-size: 16px
  height: 30px
  border: 0px
  padding-left: 10px
  padding-right: 10px
  align-items: center
  border-radius: 15px
  background-color: #9bb00f
  transition: 0.3s

  &:hover
    background-color: #d3e84b