@import variables
@import input-message

body, .row
    margin: 0

footer
    position: absolute
    bottom: 0
    background-color: $footer-background-color
    color: $footer-color
    height: 50px
    width: 100%

footer > div
    height: 50px
    padding: 0


