<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../../app/src/css/flexboxgrid.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../../compiled/T-20-create-footer-and-contentPage/footer/footer.css" rel="stylesheet">
    </head>
    <body>
    <footer class="row xs-12">
        <div class="footer-settings col-xs-2">
            <div class="icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
            <div class="footer-settings-name">Settings</div>
        </div>
        <div class="footer-message col-xs-8">
            <div class="icon"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
            <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
            <form class="footer-write-message">
                <input type="text" placeholder="Write a message...">
            </form>
            <button type="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </footer>
    </div>
    </body>
</html>