<div class="div-row-loginpage
            col-xs-12
            col-sm-12
            col-md-9
            col-lg-10">
  <div class="div-logotype">
    <img ng-src="{{ loginPage.logotype }}" alt="EVENT messenger">
  </div>
  <div class="col-xs" id="hide-form">
    <form class="confirm-form">
      <div class="col-xs-9">
        <input type="submit" class="btn-confirm div-margin-top-login-page"  value="go to edit your profile">
      </div>
    </form>
  </div>
  <div class="col-xs mess-box">
    {{message}}
  </div>
</div>
