<div class="div-row-loginpage
            col-xs-12
            col-sm-12
            col-md-9
            col-lg-10">
  <div class="div-logotype">
    <img ng-src="{{ loginPage.logotype }}" alt="EVENT messenger">
  </div>
  <div class="col-xs" id="hide-form">
    <form class="login-form
                 col-xs-offset-2
                 col-sm-offset-2
                 col-md-offset-2
                 col-lg-offset-2">
      <div class="col-xs-9">
        <span class="txt-description-stars">* </span><span>Create your unique username: </span>
        <input type="text"
               class="input-primary"
               id="username"
               ng-model="params.username"
               ng-keyup="onKeyUp('username')"
               required>
      </div>
      <div class="col-xs-9">
        <span>Email: </span>
        <input type="email"
               class="input-primary"
               id="mail"
               ng-model="params.email"
               required>
      </div>
      <div class="col-xs-9">
        <span class="txt-description-stars">* </span><span>Create password:</span>
        <input type="password"
               class="input-primary"
               id="password"
               ng-model="params.password"
               ng-keyup="onKeyUp('password')"
               required>
      </div>
      <div class="col-xs-9">
        <span class="txt-description-stars">* </span><span>Confirm password: </span>
        <input type="password"
               class="input-primary"
               id="password_conf"
               ng-model="passwordConf"
               ng-keyup="onKeyUp('password_conf')"
               required>
        <br>
        <span class="txt-description-stars">* </span> <span class="txt-description"> - Only letters and numbers</span>
      </div>
      <div class="col-xs-9">
        <input type="submit" ng-click="setReg(params)" class="btn-submit div-margin-top-login-page"  value="enter">
      </div>
    </form>
  </div>
  <div class="col-xs mess-box">
    <br>
    {{message}}
  </div>
</div>
