<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../app/src/css/flexboxgrid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../../compiled/T-20-create-footer-and-contentPage/contentPage/contentPage.css" rel="stylesheet">
</head>

<body>
    <div class="row">
    <div class="col-xs-2 left-side"></div>
    <section class="col-xs-8 content-part">
        <div class="message-example">
            <div class="delete"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="message-name">You have new invitation!</div>
            <div class="message-text">Click on the chat to see details...</div>
        </div>
    </section>
    <div class="col-xs-2 right-side"></div>
    </div>
</body>

</html>