<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12
            row middle-xs">
  <div class="col-xs-5 end-xs padding-box">
    <span class="field-name"> Avatar</span>
  </div>
  <div class="col-xs-7 padding-box">
    <img class="profile-avatar" ng-src="{{ profile.avatar }}" alt="avatar">
  </div>
  <div class="col-xs-5 end-xs padding-box">
    <span class="field-name">Upload new avatar</span></div>
  <div class="col-xs-7 padding-box">
    <button type="submit" class="btn-send-event">choose file</button>
  </div>
</div>
<div class="profile-spacer"></div>
<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12 row middle-xs">
  <div class="col-xs-5 end-xs padding-box">
    <span class="field-name">Name: </span>
  </div>
  <div class="col-xs-7 padding-box">
    <input type="text"
           class="input-primary"
           id="eventName"
           ng-model="params.name"
           required>
  </div>
</div>
<div class="profile-spacer"></div>
<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12 row middle-xs">
  <div class="col-xs-5 end-xs padding-box">
    <span class="field-name">Add phone number: </span>
  </div>
  <div class="col-xs-7 padding-box">
    <input type="tel"
           class="input-primary"
           ng-model="params.phone">
  </div>
</div>
<div class="profile-spacer"></div>
<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12 row middle-xs">
  <div class="col-xs-5 end-xs padding-box">
    <span class="field-name">E-mail: </span>
  </div>
  <div class="col-xs-7 padding-box">
    <input type="email"
           class="input-primary"
           ng-value="profile.token"
           ng-model="params.token"
           readonly>
  </div>
  <div class="col-xs-5 end-xs padding-box">
    <span class="field-name">Add e-mail: </span>
  </div>
  <div class="col-xs-7 padding-box">
    <input type="email"
           class="input-primary"
           ng-model="params.mail">
  </div>
</div>
<div class="profile-spacer"></div>
<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12 row middle-xs">
  <div class="col-xs-5 end-xs padding-box">
  </div>
  <div class="col-xs-7 padding-box">
    <button class="btn-send-event" ng-click="setEditData(params)">save</button>
  </div>
</div>

