@import "../../../../../sass/variables"
@import "../../../../../sass/type-default"
@import "../../../../../sass/functions"

.event-menu__list
  list-style-type: none
  font-weight: 700


.event-menu__item
  display: flex
  align-items: center
  justify-content: flex-start
  height: 70px
  padding-left: 45px
  cursor: pointer
  transition: background-color .4s
  &:hover, &.active
    font-size: 18px

.event-menu__title
  margin-top: 40px
  position: relative

.event-menu__close
  position: absolute
  height: 20px
  width: 20px
  right: -30px
  top: 0
  cursor: pointer
  &:after
    content: " "
    height: 15px
    width: 3px
    position: absolute
    top: 0
    left: 50%
    transform: rotate(45deg)
  &:before
    content: " "
    height: 15px
    width: 3px
    top: 0
    left: 50%
    position: absolute
    transform: rotate(-45deg)

.event-date-vote
  margin-left: 10px
  margin-right: 10px
  font:
    size: map-get($font-btn, 'size')
    weight: map-get($font-btn, 'weight')
  color: map-get($font-color, 'primary')
  &:hover
    color: map_get($font-color, 'orange')
    cursor: pointer

.event-content
  height: calc(100% - (#{$footer-height}))
  overflow: auto
  padding-left: 16px
  padding-right: 16px

.event-name-list
  color: map-get($font-color, 'gray')
  padding-right: 5px
  font:
    size: map-get($font-message, 'name-size')
    weight: map-get($font-message, 'name-weight')
    style: map-get($font-message, 'name-style')

.create-event-div-box
  display: flex
  flex-direction: row
  align-items: center
  padding-bottom: 10px
  margin-top: 16px

.create-event-spacer
  height: 1px
  width: 100%
  background-color: map-get($font-color, 'gray')

.checkbox-div
  position: absolute
  left: 150px
  color: black
  border-radius: 10px
  flex-direction: row
  justify-content: space-around
  margin: 5px
  padding: 20px
  transition: .5s
  max-height: 400px
  min-width: 300px
  overflow: auto

.checkbox-ul
  margin: 0px
  padding: 5px

.checkbox-div-list
  list-style-type: none
  margin: 5px
  padding: 3px
  font:
    size: 16px
    weight: 300
    style: map-get($font-message, 'name-style')

.checkbox-btn-block
  margin-top: 20px

.search
  margin: 0

.names
  font:
    size: 25px
    weight: 300



