<div class="event-content">
    <div class="col-xs-12
                col-sm-12
                col-md-12
                col-lg-12">
      <form name="newEvent">
        <div class="col-xs-12
                    create-event-div-box">
          <span class="event-name-list">Event title: </span>
          <input type="text"
                 class="input-primary"
                 id="eventName"
                 ng-model="params.name" required>
        </div>
        <div class="create-event-spacer"></div>
        <div class="col-xs-12
                    create-event-div-box">
          <span class="event-name-list">Choose the date: </span>
          <i class="fa fa-chevron-right event-date-vote" aria-hidden="true" id="showVar" ng-click="openVarList()"></i>
          <div class="checkDate-div bg-gray-dark non-vis" id="dateList">
            <ul class="checkbox-ul">
              <li ng-repeat="item in selectDates" class="checkbox-div-list">
                <span class="check-dates-list"
                      ng-attr-id="{{item.id}}"
                      ng-click="chooseDateType(item.showInpId)">
                  {{item.text}}
                </span>
              </li>
            </ul>
          </div>

          <div class="non-vis varlist" id="exDate">
            <input type="date"
                   class="input-set-date"
                   ng-model="params.date"
                   ng-mouseleave="setDate(params.date)">
          </div>
          <div class="non-vis varlist" id="exDateTime">
            <input type="datetime-local"
                   class="input-set-date"
                   ng-model="params.date"
                   ng-mouseleave="setDate(params.date)">
          </div>
          <div class="non-vis varlist" id="exDateDiap">
            <span class="event-name-list">From: </span>
            <input type="date"
                   class="input-set-date">
            <span class="event-name-list">to: </span>
            <input type="date"
                   class="input-set-date">
          </div>
          <div class="non-vis varlist" id="exDateDiapTime">
            <span class="event-name-list">From: </span>
            <input type="datetime-local"
                   class="input-set-date">
            <span class="event-name-list">to: </span>
            <input type="datetime-local"
                   class="input-set-date">
          </div>
          <br>
        </div>
      <div class="col-xs-12
                    create-event-div-box">

        <span class="event-name-list">Add date: </span>
        <i class="fa fa-plus event-date-vote" aria-hidden="true"></i>
        <br>
      </div>
          <div class="col-xs-12
                    create-event-div-box">
            <span class="event-name-list">Allow voting for date:&amp;nbsp </span>
            <i class="fa fa-toggle-off event-date-vote" id="dateVote" aria-hidden="true" ng-click="addDateVote()"></i>
          </div>
        <div class="create-event-spacer"></div>
        <div class="col-xs-12
                    create-event-div-box">
          <span class="event-name-list">Place: </span>
          <input type="text"
                 class="input-primary"
                 id="eventPlace"
                 ng-model="params.place">
          <i class="fa fa-map-marker event-date-vote" aria-hidden="true" ></i>
          <span class="event-name-list">Add place: </span>
          <i class="fa fa-plus event-date-vote" aria-hidden="true"></i>
        </div>
        <div class="col-xs-12
                    create-event-div-box">
          <span class="event-name-list">Allow voting for place: </span>
          <i class="fa fa-toggle-off event-date-vote" id="placeVote" aria-hidden="true" ng-click="addPlaceVote()"></i>
        </div>
        <div class="create-event-spacer"></div>
        <div class="col-xs-12
                    create-event-div-box">
          <span class="event-name-list">Participants: </span>
          <i class="fa fa-plus event-date-vote" id="addPpl" aria-hidden="true" ng-click="openList()"></i>
          <div class="checkbox-div bg-gray-dark non-vis" id="nameList">
            <ul class="checkbox-ul">
              <li ng-repeat="item in main.dataUser.contacts" class="checkbox-div-list">
                <input ng-attr-id="{{item.id}}" class="names" type="radio" value="{{item.name}}"><span class="checkbox-div-list">{{item.name}}</span> </li>
            </ul>
            <div class="col-xs-12 checkbox-btn-block">
              <input type="submit" class="btn-save-xs" ng-click="guestsList()" value="confirm">
              <input type="reset" class="btn-info-xs"  value="cancel" ng-click="closeList()">
            </div>
          </div>
        </div>
        <div class="create-event-spacer"></div>
        <div class="col-xs-12
                    create-event-div-box">
          <span class="event-name-list">Remind me: </span>
          <i class="fa fa-toggle-on event-date-vote" id="reminder" aria-hidden="true" ng-click="addDateVote()"></i>
        </div>
        <div class="create-event-spacer"></div>
          <div class="col-xs-12
                    create-event-div-box">
            <span class="event-name-list">Additional information: </span>
            <textarea type="text" rows="6"
                      class="input-primary"
                      id="additional"
            ng-model="params.additional"></textarea>
          </div>
        <div class="div-row-footer
            col-xs-12
            col-sm-12
            col-md-12
            col-lg-12">
          <input type="submit" class="btn-save-xs"  value="send invites" ng-click="sendNewEvent(params)">
          <input type="submit" class="btn-info-xs"  value="save event" ng-click="saveEvent(params)">
          <input type="submit" class="btn-warning-xs"  value="cancel" ng-click="cancel()">
          </div>
      <div class="popup-message" id="myModal">
        <div class="popup-message-content">
          <span class="btn-close" ng-click="closePopup()">&times;</span>
          <span class="txt-primary">{{ errorMessage }}</span>
        </div>
      </div>
      </form>
    </div>
</div>
