<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../app/src/css/flexboxgrid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="../compiled/T-13-create-page-invitation/invitation.css" rel="stylesheet">
</head>

<body>
    <div class="row">
    <div class="col-xs-2 left-side"></div>
    <section class="col-xs-8 content-part">
        <div class="event-card">
            <table>
                <tr><th>Event name:</th><td colspan="2" class="event-name">BIRTHDAY PARTY</td></tr>
                <tr><th>Date:</th><td>from: 8th January</td><td>to: 8th January</td></tr>
                <tr><th>Place:</th><td colspan="2">Kiev, Gagarina street, 6 apart</td></tr>
                <tr><th>Members:</th><td colspan="2">Marina, Alex, Igor, Olya</td></tr>
                <tr><th>Additional info:</th><td colspan="2">Bring your friends with you</td></tr>

            </table>
            <div class="buttons">
                <button>No, thanks</button>
                <button>Interested</button>
                <button>Accept</button>
            </div>
        </div>
    </section>
    <div class="col-xs-2 right-side"></div>
    </div>
</body>

</html>